@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    background-color: #96E6B3;
    color: #e8ffd5;
    font-family: 'Cantarell', sans-serif;
}

.product {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    background-color: #293c2b;
    border: none;
    margin: 0;
    margin-bottom: 30px;
    padding: 20px;
    width: 100%; 
}

#addButton {
    background-color: #454E47;
    color: #caf5a6;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 0 0 10px 10px; /* Rounded bottom corners */
    display: block;
    width: 680px; 
    margin: 0 auto; /* Centered button */
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-family: 'Poppins', sans-serif;
    font-size: inherit;
}

#submitBtn {
    background-color: #454E47;
    color: #caf5a6;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px 10px; /* Rounded bottom corners */
    display: block;
    width: 680px; 
    margin: 0 auto; /* Centered button */
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-family: 'Poppins', sans-serif;
    font-size: inherit;
}

button:hover {
    background-color: #5A6251; 
    transform: scale(1.02); 
    
}

input{
    font-family: 'Poppins', sans-serif;
    font-size: inherit;
}

.inputs {
    color: #1d4800;
    display: inline-block;
    width: 80%;
    margin: auto;
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
}

.box-container {
    padding: 40px;
    margin: 0 auto;
    width: 600px; 
    background-color: #6eb48e;
    border-radius: 10px 10px 0 0; /* Rounded top corners */
}


label {
    display: inline-block;
    width: 200px;
    text-align: right;
    margin-right: 10px;
    font-weight: bold;
}

#darkModeToggle {
    position: absolute;
    top: 20px;
    left: 30px;
    background-color: #333;
    color: rgb(144, 219, 126);   
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    width: auto;
    font-size: 0.6rem;
    border-radius: 10px 10px
}

.dark-theme {
    background-color: #092019;
    color: #e8ffd5;
}

.dark-theme .inputs, .dark-theme .inputs label {
    color: #e8ffd4;
}

.dark-theme .product {
    background-color: #63a28a;
}

.dark-theme button, .dark-theme button:hover {
    background-color: #216555;
    transition: background-color 1s ease;
}

.dark-theme button:hover {
    background-color: #3a6555;
}

.dark-theme .box-container {
    background-color: #46755b
}


body, .product, button {
    transition: background-color 1s ease;
}

.lists{
    text-align: left;
}