body {
    background-color: #121212;
    color: #E0E0E0;
    font-family: 'Roboto', sans-serif;
}

.product {
    font-size: 2.5rem; 
    font-weight: bold;
    text-align: center;
    background-color: #1F1B24;
    border: none; 
    margin: 10px;
    padding: 20px;
}

.inputs label, .inputs input {
    color: #E0E0E0; 
}

.inputs {
    width: 80%;
    margin: auto;
}

.input-group {
    margin-bottom: 20px; 
}

label {
    display: inline-block;
    width: 200px; 
    text-align: right;
    margin-right: 10px; 
}

input, button {
    margin-left: 10px;
}

button {
    background-color: #BB86FC;
    color: #121212;
    border: none; /
    padding: 10px 20px;
    margin-top: 10px; 
    cursor: pointer; 
}

button:hover {
    background-color: #9A67EA; 
}

input, button {
    font-family: inherit;
    font-size: inherit;
}
